* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav h3 {
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #272a31;
}

.link.link-active {
  color: blue;
}

#clock {
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px;
}

.booklist {
  width: 80%;
  border: 2px solid #272a31;
}

button {
  width: fit-content;
  padding: 3px 8px;
  justify-self: right;
  margin-right: 2px;
  margin-left: auto;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 90%);
  min-width: 60px;
  height: 30px;
}

.books {
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 5px;
  align-items: center;
}

.booklist > article:nth-child(odd) {
  background-color: #d3d3d3;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: lightgrey;
}

.nav-link {
  display: flex;
  list-style: none;
  gap: 70px;
}

.section {
  display: flex;
  flex-direction: column;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.section.section-active {
  visibility: visible;
  max-height: none;
  opacity: 1;
}

.booklist,
form {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

form {
  width: 60%;
  justify-content: center;
}

.heading {
  text-align: center;
  margin: 20px 0;
}

hr {
  width: 30%;
  background-color: #d3d3d3;
  border: none;
  height: 2px;
  margin: 10px auto;
}

.input-text {
  height: 40px;
  padding: 8px;
}

#Contact-Us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 20px;
  text-align: center;
  border: 2px solid #272a31;
}

#Contact-Us h1 {
  font-size: 30px;
}

#Contact-Us p {
  font-size: 18px;
}

#Contact-Us ul {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-direction: column;
}

#Contact-Us li {
  text-align: left;
}

footer h3 {
  font-size: 18px;
  border: 2px solid #272a31;
  padding: 10px;
  width: 80%;
  margin: 5px auto;
}

footer {
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
}
